PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/shiftease_movers
JWT_SECRET=change_this_to_a_long_random_string
CLIENT_URL=http://localhost:3000

# Default admin created by `npm run seed`
ADMIN_EMAIL=admin@shiftease.com
ADMIN_PASSWORD=Admin@123
